.breadcrumbs__container {
  margin-top: 46px;
  padding: 0 90px 0 90px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__link {
  color: rgba(248, 149, 19, 0.8);
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
.breadcrumbs__link:hover {
  text-decoration: none;
}

.breadcrumbs__item--active:after {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: rgba(34, 31, 31, 0.8);
  text-decoration: none;
}